/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Estilos para la navegación */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos para las secciones */
section {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}
